/*通用类*/
*{
	margin:0;
	padding:0;
}
html{
	overflow-x:hidden;
}
body{
	width:100%;
	min-width:1100px;
	margin:0 auto;
	font-family:"Microsoft Yahei";
	background:#ffffff;
	text-align:justify;
	color:#333;
}
.wb{
	background:#fff;
}

/*不同设备字体em基准
@media screen and (min-width: 320px) and (max-width: 360px){
  body{
  	font-size:13.5px;
  }
}
@media screen and (min-width: 360px) and (max-width: 480px){
  body{
  	font-size:15px;
  }
}
@media screen and (min-width: 480px) and (max-width: 700px){
  body{
  	font-size:22.5px;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px){
  body{
  	font-size:28px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1100px){
  body{
  	font-size:32px;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1400px){
  body{
  	font-size:40px;
  }
}
@media screen and (min-width: 1400px){
  body{
  	font-size:50px;
  }
}
*/

img{
	border:none;
}
h1,h2,h3{
	font-weight:normal;
}
a{
	color:#333;
	text-decoration:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
	outline:none；
}
input,textarea,select{
	font-family:"Microsoft Yahei";
	font-size:1em;
	outline:none;
	margin:0;
	padding:0;
}
input::-webkit-input-placeholder {
	color: #979797 !important;
}
textarea::-webkit-input-placeholder {
	color: #979797 !important;
}
input[type='button'],input[type='text'],input[type='search'], input[type='submit'], input[type='reset'],input[type='date'],input[type='time'],input[type='number'] {
	-webkit-appearance: none;
}
select{
	-webkit-appearance: none;
}
textarea{
	-webkit-appearance: none;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}
ul,ol{
	padding:0;
	list-style-type:none;
}
em{
	font-style:normal;
}
.lt{
	float:left;
}
.rt{
	float:right;
}
input.sub,label{
	border:none;
	cursor:pointer;
}
input,textarea{
	font-family:"Microsoft Yahei";
	outline:none;
	margin:0;
	padding:0;
}
table{
	border-collapse:collapse;
}
td,th{
	padding:0;
}
div.clear{
	font: 0px Arial; line-height:0;
	height:0;
	overflow:hidden;
	clear:both;
}
.warpin{
	width: 1104px;
	margin-left: auto;
	margin-right: auto;
	padding:0 48px;
}
.header-pulic{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	height: 90px;
}
.header-pulic .logo{
	float: left;
	margin:14px 0 0 48px;
}
.header-pulic .navi{
	float: right;
	margin:36px 0 0 0;
}
.header-pulic .navi ul{
	float: left;
}
.header-pulic .navi ul li{
	float: left;
	margin:0 0 0 38px;
	font-size: 16px;
	color: #333333;
}
.header-pulic .navi ul li a{
	color: #333333;
}
.header-pulic .navi ul li:hover a{
	color: #e60012;
}
.header-pulic .navi .search{
	float: right;
	width: 13px;
	height: 12px;
	vertical-align: middle;
	margin:6px 0 0 34px;
	background:url(../i/navi-search.png) no-repeat;
}
.index-banner{
	width: 100%;
	height:500px;
}
.index-infor{
	width: 1104px;
	margin-left: auto;
	margin-right: auto;
	padding:0 48px;
	margin-top: 36px;
}
.index-infor .title{
	margin:0 0 28px 0;
}
.index-infor .title h2{
 font-size: 20px;
 color: #000000;
 text-align: center;
 margin-bottom:16px;
}
.index-infor .title p{
	width: 496px;
	line-height: 24px;
	color: #888888;
	font-size: 14px;
	text-align: center;
	margin:0 auto;
}
.index-infor .content .item {
	float: left;
	width: 335px;
	height: 636px;
	margin:0 48px 10px 0;
	position: relative;
	overflow: hidden;
}
.index-infor .content .item:last-child{
	margin:0 0 10px 0;
}
.index-infor .content .item .img{
	border:1px solid #efefef;
	padding:14px 14px 10px 13px;
	margin-bottom:10px;
	overflow: hidden;
}
.index-infor .content .item .hover.trans{
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	backface-visibility: hidden;
}
.index-infor .content .item .hover{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 540px;
	text-align: center;
  left: -100%;
  top: -100%;
  text-align: center;
  color: #fff;
}
.index-infor .content .item:nth-child(1) .img .hover{
 background:rgba(30, 115, 190,0.6) !important;
}
.index-infor .content .item:nth-child(2) .img .hover{
 background:rgba(221, 51, 51,0.6) !important;
}
.index-infor .content .item:nth-child(3) .img .hover{
 background:rgba(129, 215, 66,0.6) !important;
}
.index-infor .content .item .hover a{
	display: block;
	height: 100%;
	line-height: 636px;
	font-size: 50px;
	color: #dbdbdb;
}
.index-infor .content .item.trans {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    backface-visibility: hidden;
}

.index-infor .content .item .img img{
	width: 306px;
	height: 494px;
}
.index-infor .content .item .img > a{
	display: block;
	width: 100%;
	text-align: right;
	color: #999999;
	font-size: 12px;
}
.index-infor .content .item .txt {
	background: #fff;
  z-index: 111;
  position: relative;
  height: 96px;
}
.index-infor .content .item .txt h2{
	color: #000000;
	font-size:14px;
	font-weight: 700px;
	padding-left:6px;
	margin-bottom:8px;
}
.index-infor .content .item .txt  p{
 color: #7a8593;
 font-size: 12px;
 line-height: 24px;
}
.index-honor{
	width: 100%;
	height: 482px;
	margin:52px 0 4px 0;
	background:#f7f7f7;
}
.index-honor .video{
	float: left;
	width: 536px;
	height: 402px;
	margin:38px 26px 0 0;
}
.index-honor .img{
	float: left;
	width: 254px;
	margin:38px 30px 0 0;
}
.index-honor .img > img{
 width: 254px;
 height: 402px;
}
.index-honor .txt{
	float: left;
	width: 258px;
	margin-top: 38px;
	padding-top: 14px;
}
.index-honor .txt .title{
	padding:0 0 20px 0;
	border-bottom:1px solid #d0d0d0;
}
.index-honor .txt .title h2{
	color: #333333;
	font-size: 24px;
	height: 22px;
	line-height: 22px;
	margin-bottom:16px;
}
.index-honor .txt .title p{
	color: #7a8593;
	font-size: 12px;
}
.index-honor .txt .content{
	margin-top: 26px;
	border-bottom: 1px solid #d0d0d0;
}
.index-honor .txt .content p{
	color:#7a8593;
	font-size: 12px;
	line-height: 24px;
	margin-bottom: 20px;
}
.index-pubilmap{
	width: 100%;
	height: 556px;
	margin:4px 0 0 0;
	background:url(../i/publicity-img.png) no-repeat;
}
.index-pubilmap .title{
	padding:56px 0 0 0 ;
}
.index-pubilmap .title h2{
	color: #fff;
	text-align: center;
	font-size: 20px;
	margin:0 0 28px 0;
}
.index-pubilmap .title p{
	width: 938px;
	margin:0 auto;
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}
.index-pubilmap .icon{
	margin:80px 0 0 0;
}
.index-pubilmap .icon span{
	float: left;
	width: 172px;
	height: 172px;
	margin-right: 60px;
}
.index-pubilmap .icon span:last-child{
	margin-right: 0;
}
.index-newslist{
	width: 1104px;
	height: 170px;
  margin-left:auto;
	margin-right:auto;
	padding:62px 48px 0;
}
.index-newslist .item{
	float: left;
	width: 322px;
  margin-right:64px;
}
.index-newslist .item:last-child{
	margin-right: 0;
}
.index-newslist .item > h2{
	color: #000000;
	font-size: 16px;
	margin-bottom:30px;
}
.index-newslist .item > p{
	color: #7a8593;
	font-size: 12px;
	line-height: 24px;
	margin-bottom:20px;
}
.index-newslist .item > a{
	color: #e60012;
	font-size: 14px;
}
.footer-pulic{
	width: 100%;
	height:250px;
	padding:78px 0 0 0;
	background:#272b34;
	position: relative;
}
.footer-pulic .text{
	float: left;
	width: 250px;
	margin:0 34px 0 0;
}
.footer-pulic .text > h2{
	color: #fff;
	font-size: 18px;
	margin:0 0 28px 0;
}
.footer-pulic .text > p{
	color: #7a8593;
	font-size: 12px;
	line-height: 24px;
	margin-bottom:32px;
}
.footer-pulic .text > a{
	color: #fff;
	font-size: 12px;
}
.footer-pulic .code{
	float: left;
	width: 250px;
	margin:0 10px 0 0;
}
.footer-pulic .code > h2{
	color:#fff;
	font-size: 18px;
	margin-bottom: 26px;
}
.footer-pulic .code > .img{
	height: 70px;
	line-height: 70px;
	color: #7a8593;
	font-size: 12px;
}
.footer-pulic .code > .img img{
	float: left;
	width: 70px;
	height:70px;
	margin-right: 6px;
}
.footer-pulic .copy{
	position: absolute;
	width: 1100px;
	bottom: 0;
	height: 60px;
	line-height: 60px;
	color: #7a8593;
	font-size: 12px;
	border-top: 1px solid #4e5157;
}
.title-pulic{
	width: 1100px;
  height: 54px;
	margin-left:auto;
	margin-right: auto;
  margin-top: 18px;
}
.title-pulic .tle{
	float:left;
}
.title-pulic .tle h2{
	font-size: 30px;
	color:#23272c;
	font-weight: 700;
}
.title-pulic .tle p{
	font-size: 14px;
	height: 11px;
	color:#999999;
	text-transform:uppercase;
	-webkit-text-transform:uppercase;
	-ms-text-transform:uppercase;
	-moz-text-transform:uppercase;
}
.title-pulic .nav{
	float: right;
	margin-top: 8px;
}
.title-pulic .nav a{
	display: inline-block;
	width: 148px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	border: 1px solid #dcdcdc;
	color: #666666;
	font-size: 16px;
}
.title-pulic .nav a:hover{
	background:#ec3b49;
	border:1px solid #ec3b49;
	color: #fff;
}
.title-pulic .nav .hover{
	background:#ec3b49;
	border:1px solid #ec3b49;
	color: #fff;
}
.news-box{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:42px;
}
.news-box .news-content{
	float: left;
	width: 770px;
}
.news-box .news-content .item .tel{
	height: 34px;
	line-height: 34px;
	font-size: 30px;
	color: #23272c;
	margin-top: 30px;
}
.news-box .news-content .item .tel i{
	display: inline-block;
	width: 34px;
	height: 34px;
	background:url(../i/star.png) no-repeat;
	margin:0 50px 0 0;
	vertical-align: middle;
}
.news-box .news-content .item .txt{
	padding:0 0 8px 0;
	margin:0 0 0 84px;
	border-bottom:1px solid #efefef;
}
.news-box .news-content .item .txt .author{
	height: 50px;
	line-height: 50px;
	font-size: 12px;
	color:#666666;
	margin-bottom:10px;
}
.news-box .news-content .item .txt .author span{
	padding:0 6px;
	border-right: 1px solid #666666;
}
.news-box .news-content .item .txt > img{
	height: 472px;
	vertical-align: top;
	margin-bottom:16px;
}
.news-box .news-content .item .txt > p{
	font-size: 14px;
	color: #666666;
	margin-bottom: 30px;
}
.news-box .news-content .page{
	margin:38px 0 0 74px;
}
.news-box .news-content .page a{
	float: left;
	display: inline-block;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-size: 18px;
	background:#272b34;
	color: #fff;
	border-radius: 3px;
	margin:0 7px;
}
.news-box .news-content .page span {
    float: left;
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 18px;
    background:#AAAAAA;
    color: #fff;
    border-radius: 3px;
    margin:0 7px;
}
.news-box .news-content .page a:hover{
	background:#ec3b49;
}
.news-box .news-content .page a:first-child{
	background:#272b34 !important;
}
.news-box .news-content .page a:last-child{
	background:#272b34 !important;
}
.news-box .news-up{
	float: left;
	width: 290px;
	margin-left:40px;
	margin-top: 30px;
}
.news-box .news-up .tle{
	height: 34px;
	color: #333333;
	font-size: 14px;
}
.news-box .news-up .tle > span{
	display:block;
	margin:14px 0 0 2px ;
	width: 26px;
	height: 4px;
	background:#ec3b49;
}
.news-box .news-up .item{
	margin:36px 0 0 0;
}
.news-box .news-up .item h2{
	font-size: 14px;
	height: 14px;
	color: #333333;
	margin:0 0 10px 0;
}
.news-box .news-up .item p{
	color: #999999;
	font-size: 14px;
}
.intera-box{
	width: 1100px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom: 250px;
}
.intera-box .tle{
	height: 58px;
	line-height: 58px;
	color: #333333;
	font-size: 18px;
	margin:34px 0 58px 0;
}
.intera-box .tle b{
	color: #ec3b49;
	font-size: 24px;
	font-weight: 700;
	margin:0 30px 0 0;
}
.intera-join .item{
	float: left;
	width: 334px;
	margin:0 48px 0 0;
}
.intera-join .item:nth-child(3n){
	margin:0;
}
.intera-join .item > h2{
	font-size:24px;
	color: #000003;
	font-weight: 700;
	margin:0 0 26px;
}
.intera-join .item > p{
 font-size: 14px;
 color: #999999;
 padding-bottom: 12px;
 border-bottom: 1px solid #e9e9e9;
}
.intera-join .item > p span{
	margin-left: 30px;
}
.intera-join .item > span{
	display: block;
	font-size:18px;
	color: #ec3b49;
	margin:26px 0;
}
.intera-join .item  .txt p{
	 font-size: 14px;
	 color: #333333;
	 line-height: 30px;
}
.video-box{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 200px;
	margin-top: 30px;
}
.video-box .item{
 float: left;
 width: 334px;
 margin-right: 48px;
}
.video-box .item:nth-child(3n){
	margin-right: 0;
}
.video-box .item img{
	width: 334px;
	height: 192px;
	vertical-align: top;
	margin-bottom:22px;
}
.video-box .item p{
	font-size: 16px;
	color:#333333;
	padding:0 6px;
}
.video-box .item p span{
	float: right;
}
.honor-box{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
.honor-box .item{
	float: left;
	width: 248px;
	border:6px solid #631115;
	margin-right:20px;
	margin-bottom: 30px;
}
.honor-box .item:nth-child(4n){
	margin-right: 0px;
}
.honor-box .item .img{
	width: 246px;
	height: auto;
}
.contactu-box{
	width: 1100px;
	margin-left:auto;
	margin-right: auto;
	margin-top:34px;
}
.contactu-box > p{
	text-align: center;
	font-size: 14px;
	color:#333333;
	line-height: 30px;
}
.contactu-box .icon{
	margin:64px 110px 0 110px;
}
.contactu-box .item{
  float: left;
	margin:0 84px;
}
.contactu-box .item i{
	display: block;
	width: 78px;
	height:78px;
	margin:0 auto 16px;
}
.contactu-box .item h2{
	font-size: 21px;
	color: #969696;
	text-align: center;
	margin-bottom: 18px;
}
.contactu-box .item p{
	font-size: 14px;
	color: #333333;
	text-align: center;
}
.contactu-box .item .tel{
	background:url(../i/contactu-icon-1.png) no-repeat center;
}
.contactu-box .item .hour{
	background:url(../i/contactu-icon-2.png) no-repeat center;
}
.contactu-box .item .add{
	background:url(../i/contactu-icon-3.png) no-repeat center;
}
.contactu-box .map{
	margin:100px 0 60px 0;
}
.contactu-box .map img{
	width: 100%;
}
.introdu-box{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 34px;
}
.introdu-box .txt{
	margin-bottom: 32px;
}
.introdu-box .txt .img{
	width: 538px;
	float: left;
	margin:0 28px 0 0;
}
.introdu-box .txt .img img{
	width: 538px;
	margin-bottom:24px;
	vertical-align: top;
}
.introdu-box .txt .img img:last-child{
	margin-bottom:0px;
}
.introdu-box .txt p{
	font-size: 14px;
	color:#7a8593;
	line-height: 30px;
	margin-bottom:26px;
}
.introdu-box .list{
	margin-bottom:64px;
}
.introdu-box .list .item{
	float: left;
	width: 250px;
	margin-right: 32px;
}
.introdu-box .list .item:nth-child(4){
	margin-right: 0px;
}
.introdu-box .list .item img{
	width: 250px;
	vertical-align: top;
	margin:0 0 26px 0;
}
.introdu-box .list .item p{
	text-align: center;
	font-size: 14px;
	color: #7a8593;
	font-weight: 700;
}
.product-box{
	width: 1100px;
	margin-left:auto;
	margin-right: auto;
	margin-top: 34px;
	padding-bottom:70px;
}
.product-box .item{
	float: left;
	width: 334px;
	height:368px;
	margin:0 48px 90px 0;
}
.product-box .item:nth-child(3n){
	margin:0;
}
.product-box .item .img{
	height: 270px;
	width: 334px;
	overflow: hidden;
	line-height: 270px;
	text-align: center;
}
.product-box .item .img img{
	vertical-align: middle;
	-webkit-vertical-align: middle;
	-ms-vertical-align: middle;
	-moz-vertical-align: middle;
}
.product-box .item h2{
  color: #23272c;
	font-size: 14px;
	margin:0 0 14px 0;
}
.product-box .item p{
	color:#7a8593;
	font-size: 12px;
	margin:0 0 28px 0;
}
.product-box .item  a{
	color: #333333;
	font-size: 14px;
	font-weight: 700;
}
.research-box{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 34px;
}
.research-box > p{
	text-align: center;
	color: #666666;
	font-size: 14px;
	margin-bottom: 28px;
}
.research-box .img{
	height: 430px;
	line-height: 430px;
	margin-bottom:60px;
}
.research-box .img img{
	float: left;
	margin: 0 -84px 0 0;
	vertical-align: middle;
}
.research-box .img img:nth-child(1){
	margin-top: 24px;
}
.research-box .img img:nth-child(3){
	margin-top: 24px;
}
.research-box .txt{
	padding-bottom:150px;
}
.research-box .txt p{
	font-size: 14px;
	color: #666666;
	line-height: 30px;
}
.franch-box{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 34px;
}
.franch-box > h2{
	font-size: 24px;
	color: #333333;
	font-weight: 700;
	margin-bottom:38px;
}
.franch-box > p{
	font-size: 16px;
	color: #666666;
	line-height: 30px;
}
.franch-box .show{
	margin:34px 0 0 0;
	padding:0 0 192px 0;
}
.franch-box .show h2{
	font-size: 18px;
	color: #ec3b49;
	font-weight: 700;
}
.franch-box .store-img{
	width: 1100px;
	height: 678px;
	margin:16px 0 6px 0;
	overflow: hidden;
}

.franch-box .store-img img{
	width: 1100px;
	height: 678px;
}
.franch-box .store-list::before{
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
.franch-box .store-list::after{
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
.franch-box .store-list .imgs{
	width: 1010px;
	float: left;
	overflow: hidden;
}
.franch-box .store-list ul{
	position: relative;
}
.franch-box .store-list ul li{
	float: left;
	width: 248px;
	height: 152px;
	background: #000;
	margin:0px 6px;
}
.franch-box .store-list ul li img{
	width:100%;
	height: 100%;
}
.franch-box .store-list ul .hover{
	width:240px;
	height: 144px;
	border:4px solid #ec3b49;
}
.franch-box .store-list ul .hover img{
	width:240px;
	height: 144px;
}
.franch-box .store-list > a{
	display: block;
	height: 152px;
	width: 40px;
	background:#e5e5e5;
	font-size:48px;
	font-family: '新宋体';
	font-weight: 700;
	color: #fff;
	line-height: 152px;
	text-align: center;
}
.franch-box .store-list > a:hover{
	background:#ec3b49;
}
.franch-box .store-list > a:first-child{
	float: left;
	margin:0 4px 0 0;
}
.franch-box .store-list > a:last-child{
	float: right;
	margin:0 0 0 4px;
}
